<!DOCTYPE html>
<html>

<head>
  <title>Librairie audio</title>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="container">

      <h1 class="text-center">Recherche d'artistes</h1>
      <form method="POST">
        <input type="text" name="artist_name">
        <button class="btn btn-info" type="submit">Rechercher</button>

        <h1>Liste d'artistes</h1>
        <ul id="artist-list">
          <li>Bob Dylan</li>
          <li>The Beatles</li>
          <li>Elvis Presley</li>
          <li>Michael Jackson</li>
          <li>Prince</li>
        </ul>
        <button class="btn btn-primary" onclick="addArtist()">Ajouter un artiste</button>
        <button class="btn btn-primary" onclick="removeArtist()">Supprimer le dernier artiste</button>

        <script>
          var artistList = document.getElementById("artist-list");

          function addArtist() {
            var newArtist = prompt("Entrez le nom d'un nouvel artiste:");
            if (newArtist != null) {
              var newArtistItem = document.createElement("li");
              newArtistItem.textContent = newArtist;
              artistList.appendChild(newArtistItem);
            }
          }

          function removeArtist() {
            var lastArtist = artistList.lastChild;
            if (lastArtist != null) {
              artistList.removeChild(lastArtist);
            }
          }
        </script>
      </form>
      {% if artist_list %}
      <h2>Résultats de la recherche :</h2>
      <ul>
        {% for artist in artist_list %}
        <li><a href="{{ url_for('albums', artist_id=artist['id']) }}">{{ artist['name'] }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
</body>

</html>